app = "bulk-image-uploader-appstore"
primary_region = "fra"

[build]

[env]
  PORT = "8080"
  NODE_ENV = "production"
  DATABASE_URL = "file:/data/prod.sqlite"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

[mounts]
  source = "data"
  destination = "/data"
