# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "1e3355f56ea82f61c55899e32b35a4c3"
name = "Bulk Image Uploader"
application_url = "https://bulk-image-uploader-appstore.fly.dev/apps/default-app-home"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products"

[auth]
redirect_urls = [
  "https://bulk-image-uploader-appstore.fly.dev/auth/callback",
  "https://bulk-image-uploader-appstore.fly.dev/auth/shopify/callback",
  "https://bulk-image-uploader-appstore.fly.dev/api/auth/callback"
]
